<%- include("partials/head") -%> <%- include("partials/header") -%>

<div class="container container--main">
  <a href="/restaurants">Go back</a>

  <h1><%= restaurant.name %></h1>

  <div class="row row--restaurants">
    <div class="col-md-3">
      <p>
        <%= restaurant.address %><br />
        <%= restaurant.postcode %>
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
