<%- include("partials/head") -%>
<%- include("partials/header") -%>

<div class="container">
    <a href="/">Go back</a>

    <h1><%= restaurant.name %></h1>

    <div class="row row__restaurants">
        <div class="col-md-3">
        <p>
            <%= restaurant.address %><br />
            <%= restaurant.postcode %>
        </p>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>
